name: Verify code formatting
on:
  push:
  pull_request:

jobs:
  verify-formatting:
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Install astyle
        run: sudo apt-get update && sudo apt-get install -y astyle
      - name: Run astyle check
        run: |
          # Run astyle but don't overwrite
          astyle --version
          if astyle --style=allman \
                 --indent=spaces=4 \
                 --indent-col1-comments \
                 --pad-oper \
                 --pad-comma \
                 --pad-header \
                 --unpad-paren \
                 --align-pointer=name \
                 --align-reference=name \
                 --break-closing-braces \
                 --add-braces \
                 --attach-return-type \
                 --attach-return-type-decl \
                 --convert-tabs \
                 --indent-cases \
                 --indent-namespaces \
                 --indent-preproc-define \
                 --recursive \
                 --dry-run \
                 "*.cpp" "*.h" "*.ino" | grep -q "Formatted"; then
            echo "::error::Indentation check failed"
            astyle --style=allman \
                 --indent=spaces=4 \
                 --indent-col1-comments \
                 --pad-oper \
                 --pad-comma \
                 --pad-header \
                 --unpad-paren \
                 --align-pointer=name \
                 --align-reference=name \
                 --break-closing-braces \
                 --add-braces \
                 --attach-return-type \
                 --attach-return-type-decl \
                 --convert-tabs \
                 --indent-cases \
                 --indent-namespaces \
                 --indent-preproc-define \
                 --recursive \
                 --dry-run \
                 --formatted \
                 "*.cpp" "*.h" "*.ino"
            exit 1
          else
            echo "Indentation check passed"
          fi
